src/demo/linux_x86/test/xml/PhoneBanking/PhoneBanking.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PhoneBanking" targetNamespace="http://www.example.org/PhoneBanking/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/PhoneBanking/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.example.com/PhoneBanking">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/PhoneBanking/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="NewOperationResponse" type="xsd:string" />
			<xsd:element name="NewOperationRequest" type="xsd:string" />
			<xsd:element name="NewOperationRequest1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="input" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="output" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationRequest2">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="input" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse2">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="output" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationRequest3">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="input" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse3">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="output" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.example.com/PhoneBanking" schemaLocation="PhoneBanking.xsd"></xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="xsd1:VerificationCode" name="accountSummary" />
	</wsdl:message>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="xsd1:AnnountInfo" name="accountInfo" />
	</wsdl:message>
	<wsdl:message name="NewOperationRequestMsg">
		<wsdl:part name="accounInfo" element="xsd1:AnnountInfo"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponseMsg">
		<wsdl:part name="payees" element="xsd1:PayeeList"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationRequestMsg1">
		<wsdl:part name="payee" element="xsd1:Payee"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponseMsg1">
		<wsdl:part name="completionCode" element="xsd1:CompletionCode"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationRequestMsg2">
		<wsdl:part name="billInfo" element="xsd1:BillInfo"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponseMsg2">
		<wsdl:part name="verificationCode" element="xsd1:VerificationCode"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PhoneBanking">
		<wsdl:operation name="getAccountSummary">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
		<wsdl:operation name="getPayees">
			<wsdl:input message="tns:NewOperationRequestMsg"></wsdl:input>
			<wsdl:output message="tns:NewOperationResponseMsg"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addPayee">
			<wsdl:input message="tns:NewOperationRequestMsg1"></wsdl:input>
			<wsdl:output message="tns:NewOperationResponseMsg1"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="payBill">
			<wsdl:input message="tns:NewOperationRequestMsg2"></wsdl:input>
			<wsdl:output message="tns:NewOperationResponseMsg2"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PhoneBankingSOAP" type="tns:PhoneBanking">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getAccountSummary">
			<soap:operation soapAction="http://www.example.org/PhoneBanking/getAccountSummary" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPayees">
			<soap:operation soapAction="http://www.example.org/PhoneBanking/getPayees" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addPayee">
			<soap:operation soapAction="http://www.example.org/PhoneBanking/addPayee" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="payBill">
			<soap:operation soapAction="http://www.example.org/PhoneBanking/payBill" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PhoneBanking">
		<wsdl:port binding="tns:PhoneBankingSOAP" name="PhoneBankingSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
